<div class="general">
    <h2>JUEGO TRIVIAL</h2>
    <h3>INICIO SESIÓN</h3>
        <div class="container">
            <form class="form">
                <label for="usuario">Usuario:</label>
                <input type="text" #usuario id="usuario" name="usuario">
        
                <label for="contrasena">Contraseña:</label>
                <input type="password" #contrasena id="contrasena" name="contrasena">

                <div *ngIf="error">
                    <p class="error">{{errorText}}</p>
                </div>
        
                <button type="button" (click)="login(usuario.value, contrasena.value)">Iniciar sesión</button>
            </form>
        </div>
    <a (click)="irRegistro()">¿No tienes cuenta? Regístrate</a>
</div>