<h1>Formulario de Libro</h1>
<form>
  <label for="nombre">Nombre Libro</label>
  <br>
  <input type="text" id="nombre">
  <br>

  <label for="autor">Autor:</label>
  <select id="autor">
    <option value="1">Autor 1</option>
    <option value="2">Autor 2</option>
  </select>
  <br>

  <label for="categoria">Categoría:</label>
  <select id="categoria">
    <option value="1">Categoría 1</option>
    <option value="2">Categoría 2</option>
  </select>
  <br>

  <button>Guardar</button>
</form>

@for (item of ListaLibros; track $index) {
  <div id="divItem">
    <div id="divTitulo">
      <p>Titulo:{{item.titulo}}</p>
      <p>Autor: {{item.autor.nombre}}</p>
      @for (categoria of item.categorias; track $index) {
        <p>{{categoria.nombre}}</p>
      }
      <p>Categorias: {{item.categorias}}</p>
    </div>
    <div id="divBotones">
      <button>Editar</button>
      <button>Eliminar</button>
    </div> 
  </div>
  
  
}
