<h1>Formulario de Libro</h1>
<form>
  <label for="nombre">Nombre Libro</label>
  <br>
  <input type="text" id="nombre" #nombre value="{{libro.titulo}}">
  <br>

  <label for="autor">Autor:</label>
  <select id="autor" name="autor" (change)="onAutorChange($event)">
    <option value="0" >Selcciona un autor</option>
    @for (autor of autores; track $index) {
      @if (libro.autor.id == autor.id) {
        <option selected>{{ autor.nombre }}</option>
      }@else {
        <option>{{ autor.nombre }}</option>
      }
    }
  </select>
  <br>

  <label>Categoría:</label><br><br>
  <div>
    @for (categoria of categorias; track $index) {
      {{ categoria.nombre }}
      @if (isSelected(categoria)) {
        <input (change)="onCategoriaChange($event)" type="checkbox" name="categoria_{{ $index }}"  checked>
      }@else {
        <input (change)="onCategoriaChange($event)" type="checkbox" name="categoria_{{ $index }}">
      }
    }
  </div>
  
  <br>

  <button (click)="guardarCambios(nombre.value)">Guardar Cambios Editados</button>
  <button (click)="guardarNuevo(nombre.value)">Guardar Nuevo Libro</button>

</form>

@for (item of ListaLibros; track $index) {
  <div id="divItem">
    <div id="divTitulo">
      <p>Titulo: {{item.titulo}}</p>
      <p>Autor: {{item.autor.nombre}}</p>
      <p>Categorias:
      @for (categoria of item.categorias; track $index) {
        <p>- {{categoria.nombre}}</p>
      }</p>
    </div>
    <div id="divBotones">
      <button (click)="editarLibro(item)">Editar</button>
      <button (click)="eliminarLibro(item.id)">Eliminar</button>
    </div> 
  </div>
}
