<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FORMULARIO CURSOS</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="cursoForm" (submit)="anadirCurso()">
        <label>Nombre: </label>
        <input type="text" class="form-control" formControlName="nombre">

      <label>Puntos: </label>
      <input type="text" class="form-control" formControlName="puntos">
    <ion-button id="present-alert" type="submit">Guardar</ion-button>
</form>

<ion-content *ngIf="cursoForm.get('nombre')?.invalid || cursoForm.get('nombre')?.touched || cursoForm.get('puntos')?.invalid || cursoForm.get('puntos')?.touched">
  <ion-text *ngIf="cursoForm.get('nombre')?.hasError('required') || cursoForm.get('puntos')?.hasError('required')">
    <ion-alert trigger="present-alert" header="Error" message="Debes rellenar ambos campos." [buttons]="alertButtons"></ion-alert>
  </ion-text>
</ion-content>

<ion-content *ngIf="listaCurso">
  <ion-list>
    <ion-item *ngFor="let curso of listaCurso" (click)="irDetalle(curso)">
      <ion-label>
        <h2>{{curso.getNombre()}}</h2>
        <p>{{curso.getPuntos()}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

</ion-content>
